$clr-brain-flix-blue-100: #0095ff;
$clr-brain-flix-blue-200: #0065ad;

$clr-brain-flix-black-100: #323232;
$clr-brain-flix-black-200: #000;

$clr-white: #fff;
$clr-silver: #afafaf;

$clr-mercury: #e1e1e1;
$clr-alabaster: #fafafa;
