@use "../../styles/partials/colors" as *;
@use "../../styles/partials/responsive" as *;

$avatar-radius: 50%;
$max-diameter-sm: 2.25rem;
$max-diameter-md: 2.5rem;
.avatar {
  &__image {
    border-radius: $avatar-radius;
    height: $max-diameter-sm;
    width: $max-diameter-sm;
    object-fit: cover;
    overflow: hidden;
    @include md {
      height: $max-diameter-md;
      width: $max-diameter-md;
    }
  }
  &__placeholder {
    border-radius: $avatar-radius;
    border-radius: $avatar-radius;
    width: $max-diameter-sm;
    height: $max-diameter-sm;
    overflow: hidden;
    background-color: $clr-mercury;
  }
}
