@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/responsive" as *;
@use "../../styles/partials/variables" as *;

$input-radius: 0.25rem;
$input-border: 0.0625rem;
$input-padding-sm: 0.75rem;
$input-padding-md: 1rem;
$input-height: 2.5rem;

.input-area {
  box-sizing: border-box;
  &__label {
    @include labelFnt;
    color: $clr-silver;
  }
  &__content {
    color: $clr-brain-flix-black-100;
    font-family: $fnt-primary;
    background-color: $clr-alabaster;
    border: $clr-mercury solid $input-border;
    border-radius: $input-radius;
    padding: $input-padding-sm;
    outline: none;
    width: 100%;
    padding: $input-padding-sm;
    @include inputFnt;
    &::placeholder {
      font-family: $fnt-primary;
      color: $clr-brain-flix-black-100;
    }
    &:focus-within {
      border: $input-border $clr-brain-flix-blue-100 solid;
    }
  }
}
